{box-sizing: border-box;}
[body] {
    font-family: times new roman, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #de2121;
}
[class*="card"] {
    background-color: #e47676;
    border: 1px solid #310d0d;
    border-radius: 8px;
    padding: 20px;
    margin: 0px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
[h1, p] {
    color: #310d0d;
    font-size: 1.2rem;
    margin: 0 0 10px 0;
}
